.fast-x-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-4xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.fast-x {
  position: relative;
  width: 200px;
  height: 199.27px;
}
.candy-cane-lane {
  object-fit: cover;
}
.candy-cane-lane,
.dungeons {
  position: relative;
  width: 200px;
  height: 200px;
}
.movie-list {
  position: absolute;
  top: 1366px;
  left: 277px;
  width: 1112px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
.instance-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.card-inner {
  flex: 1;
  position: relative;
  width: 191px;
}
.title {
  align-self: stretch;
  font-weight: 500;
}
.category,
.movies1,
.title {
  position: relative;
  line-height: 120%;
}
.category {
  flex: 1;
}
.movies1 {
  display: inline-block;
  width: 46px;
  flex-shrink: 0;
}
.category-parent {
  width: 175px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: var(--body-text-regular7-size);
}
.title-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-5xs);
}
.button {
  border-radius: var(--br-5xs);
  background-color: var(--primary-color-full);
  width: 146px;
  height: 30px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-13xl);
  box-sizing: border-box;
  font-size: var(--body-text-regular6-size);
  color: var(--white);
}
.card-details,
.frame-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
}
.frame-parent {
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-5xs);
}
.card-details {
  background-color: var(--white);
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-5xs);
}
.card1 {
  border-radius: var(--br-5xs);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 191px;
  height: 283px;
  overflow: hidden;
}
.card,
.card1 {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.card-child {
  align-self: stretch;
  flex: 1;
  position: relative;
}
.recently-added-list {
  position: absolute;
  width: calc(100% + 256px);
  top: 938px;
  right: -469px;
  left: 213px;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  font-size: var(--h1-medium16-size);
  color: var(--background-black);
}
.music-4-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 3.38px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.group-child,
.music-4 {
  position: absolute;
  top: 0;
  height: 156px;
}
.music-4 {
  left: 1.06px;
  width: 1252.94px;
  background-image: url(./public/music-4@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.group-child {
  left: 0;
  background-color: var(--color-gainsboro-100);
  width: 1254px;
}
.music-4-parent {
  align-self: stretch;
  position: relative;
  filter: blur(2px);
  height: 156px;
  z-index: 0;
}
.search-name {
  position: absolute;
  top: 7px;
  left: 32px;
  line-height: 120%;
}
.outline-search {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.search-name-parent {
  position: relative;
  width: 185px;
  height: 24px;
}
.search-field {
  border-radius: var(--br-3xs);
  background-color: var(--white);
  box-shadow: var(--small-shadow);
  border: 1px solid var(--black-600);
  box-sizing: border-box;
  width: 545px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-5xl);
}
.vuesaxlinearnotification-icon {
  position: relative;
  width: 32px;
  height: 32px;
  object-fit: cover;
}
.vuesaxlinearnotification-wrapper {
  width: 32px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.vuesaxlinearprofile-circle-icon {
  position: relative;
  width: 44px;
  height: 44px;
  object-fit: cover;
}
.frame-parent5,
.search-and-profile-bar,
.top-nav-bar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-parent5 {
  width: 92px;
  flex-shrink: 0;
  flex-direction: row;
  gap: var(--gap-base);
}
.search-and-profile-bar,
.top-nav-bar {
  position: absolute;
}
.search-and-profile-bar {
  margin: 0 !important;
  top: 50px;
  left: 361px;
  flex-direction: row;
  gap: var(--gap-116xl);
  z-index: 1;
}
.top-nav-bar {
  width: calc(100% - 186px);
  top: 0;
  right: 0;
  left: 186px;
  flex-direction: column;
  gap: var(--gap-9xs);
  font-size: var(--body-text-regular7-size);
  color: var(--black-400);
}
.recently-added {
  position: relative;
  font-weight: 600;
}
.trending {
  position: relative;
  line-height: 154%;
}
.vuesaxlineararrow-down-icon {
  position: relative;
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.filtre-genre,
.recently-added-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.filtre-genre {
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-whitesmoke-200);
  flex-shrink: 0;
  padding: var(--padding-9xs) var(--padding-5xs);
  gap: var(--gap-13xl);
  color: var(--white);
}
.recently-added-parent {
  position: absolute;
  top: 861px;
  left: 271px;
  gap: 797px;
  color: #d8d5d5;
}
.recommended-for-you {
  position: relative;
  text-decoration: underline;
  line-height: 120%;
  font-weight: 600;
}
.filtre-genre1,
.recommended-for-you-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.filtre-genre1 {
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-whitesmoke-200);
  flex-shrink: 0;
  padding: var(--padding-9xs) var(--padding-5xs);
  gap: var(--gap-13xl);
}
.recommended-for-you-parent {
  position: absolute;
  top: 1271px;
  left: 271px;
  gap: 703px;
}
.super-mario-bros {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 655px;
  object-fit: cover;
  z-index: 0;
}
.picture-gradient {
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 0;
  background-color: var(--color-midnightblue);
  width: 1183px;
  height: 655px;
  opacity: 0.88;
  z-index: 1;
}
.supermario {
  position: relative;
  display: inline-block;
  width: 237px;
}
.more1 {
  text-decoration: underline;
}
.more {
  color: inherit;
}
.italian-american-brothers-mari-container {
  position: relative;
  font-size: var(--font-size-xl);
  font-weight: 500;
  display: inline-block;
  width: 413px;
}
.body-text {
  margin: 0 !important;
  position: absolute;
  top: 228px;
  left: 120px;
  width: 425px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  z-index: 2;
}
.wrapper-group-1-child {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  left: -5px;
  top: 3px;
  transform: scale(1.046);
}
.wrapper-group-1 {
  position: relative;
  width: 630px;
  height: 399.63px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}
.button-icon,
.button-icon1 {
  position: absolute;
  margin: 0 !important;
  top: 216px;
  left: 599px;
  width: 100px;
  height: 100px;
  object-fit: cover;
  z-index: 1;
}
.button-icon1 {
  left: 141px;
  z-index: 2;
}
.movie,
.slide {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.movie {
  margin: 0 !important;
  top: 112px;
  left: 451px;
  width: 783px;
  height: 431px;
  gap: var(--gap-3xs);
  z-index: 3;
}
.slide {
  top: 156px;
  left: 255px;
  width: 1183px;
  overflow: hidden;
  font-size: var(--header-size);
  color: var(--body-font-color);
  font-family: var(--header);
}
.side-nav-bar-and-logo-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--primary-color-900);
}
.white-brand-logo {
  position: relative;
  width: 133px;
  height: 47.99px;
  object-fit: cover;
}
.home {
  position: relative;
  line-height: 120%;
  font-weight: 500;
}
.vuesaxlinearcamera-parent,
.vuesaxlinearhome-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-8xl);
}
.vuesaxlinearcamera-parent {
  font-size: var(--body-text-regular3-size);
  color: var(--black-200);
}
.frame-parent7 {
  width: 174px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-61xl);
}
.vuesaxlinearlogout-parent {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
  gap: var(--gap-8xl);
  font-size: var(--body-text-regular3-size);
}
.frame-parent6,
.white-brand-logo-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-213xl);
}
.white-brand-logo-parent {
  position: absolute;
  height: 92.38%;
  width: 67.7%;
  top: 5.27%;
  right: 12.84%;
  bottom: 2.34%;
  left: 19.46%;
  align-items: center;
  gap: var(--gap-53xl);
}
.side-nav-bar-and-logo {
  position: absolute;
  top: 0;
  left: -2px;
  width: 257px;
  height: 2106px;
  font-size: var(--h1-medium8-size);
  color: var(--black-600);
}
.footer-child,
.footer-item {
  position: relative;
  background-color: var(--color-whitesmoke-100);
  width: 1476px;
  height: 7px;
  z-index: 0;
}
.footer-item {
  background-color: var(--primary-color-900);
  width: 1440px;
  height: 305px;
  z-index: 1;
}
.buzztrybe {
  font-weight: 600;
}
.about-us,
.buzztrybe {
  position: relative;
  line-height: 120%;
}
.buzztrybe-parent {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.terms-and-conditions {
  position: relative;
  line-height: 120%;
  display: flex;
  align-items: flex-end;
  width: 273px;
}
.support-parent {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.footer,
.frame-parent8 {
  position: absolute;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent8 {
  margin: 0 !important;
  width: calc(100% - 579px);
  top: 58px;
  right: 269px;
  left: 310px;
  flex-direction: row;
  gap: var(--gap-150xl);
  z-index: 2;
}
.footer {
  top: 2057px;
  left: -2px;
  width: 1440px;
  height: 311px;
  flex-direction: column;
}
.movies {
  position: relative;
  background-color: var(--background-black);
  width: 100%;
  height: 2368px;
  overflow-y: auto;
  text-align: left;
  font-size: var(--body-text-regular3-size);
  color: var(--white);
  font-family: var(--body-text-regular3);
}
